nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: auto;
}
nav a{
    color: black;
    text-decoration: none;
}
nav img{
    height: 20px;
}
.container{
    margin: 10% 25%;
    text-align: center;
    position: relative;
    
}
.search{
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(116, 99, 99);
}
/* .google{
    width: 12px;
} */
@media only screen and (max-width:800px){
	nav a{
		font-size: 0.8em;
		padding-left: 12px;
        right: 12px;
		display: flex;
        width: 60%;
        
	}
    a{
        padding: 4px;
        margin-left: -8px;
    }
    .btn-container button{
        margin: 0.5em;
        display:inline-flex;
        border: none;
        margin-right: -1px; 
        margin-left: -1px;
    }
}

input{
    padding-left: 30px;
    width: 80%;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid gray;
    font-weight: bold;
    font-size: 13px;
}
.btn-container{
    margin-top: 1em;
   
}
.btn-container button{
    padding: 1em;
    border: 23px;
    border-radius:10px ;
    cursor: pointer;
    text-decoration: none !important; 
}

